<html>
<% include head.ejs %>
<body>
<% include header.ejs %>
<main class="container moments">
  <div class="timeline-container">
    <% for (let moments of data) { %>
    <div class="timeline">
      <div class="timeline-day">
        <span class="timeline-month"><%= moments[0].date.toGMTString().split(' ')[2] %></span>
      </div>
      <h2 class="timeline-content timeline-date">
        <%= moments[0].date.getFullYear() %>年<%= paddingZero(moments[0].date.getMonth() + 1) %>月
      </h2>
    </div>
    <% for (let moment of moments) { %>
    <div class="timeline">
      <div class="timeline-day"><%= paddingZero(moment.date.getDate()) %></div>
      <p class="timeline-content"><%= moment.content %></p>
    </div>
    <% } %>
    <% } %>
    <div class="timeline">
      <div class="timeline-day timeline-day-end"><a href="/manage/moments/edit">End</a></div>
      <h2 class="timeline-content timeline-date"></h2>
    </div>
  </div>
</main>
<% include ../common/footer.ejs %>
</body>
</html>
