<!doctype html>
<html lang="zh">
<head>
    <%- include('layouts/head.ejs') %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/highlight.js@11.4.0/styles/default.css">
    <title><%= article.title %> - 编程与写作</title>
</head>

<body>
<!-- header -->
<%- include('layouts/header.ejs') %>

<main class="container blog">
    <h1 class="title">
        <div class="title"><%= article.title %></div>
        <div class="time text-hint"><%= article.postDateTime %></div>
    </h1>
    <div class="article-content">
        <%- article.content %>
    </div>
    <p class="divider"><strong class="tip">End</strong></p>
</main>

<!-- footer -->
<%- include('layouts/footer.ejs') %>
</body>

</html>
