<html>
<% include head.ejs %>
<body>
<% include header.ejs %>
<main class="container article">
  <h2>Article Management</h2>
  <p class="text-right"><a href="articles/edit" class="button-sm">+ 写文章</a></p>
  <table cellspacing="0">
    <thead>
    <tr>
      <th width="25%"># id</th>
      <th width="30%">标题</th>
      <th width="25%">时间</th>
      <th width="20%">操作</th>
    </tr>
    </thead>
    <tbody>
    <% for(let article of data){ %>
    <tr>
      <td><%= article._id %></td>
      <td><a href="/blogs/<%= article._id %>"><%= article.title %></a></td>
      <td><%= moment(article.date).format('YYYY-MM-DD HH:MM') %></td>
      <td><a href="articles/edit?id=<%= article._id %>">修改</a> | <a
          href="javascript:deleteArticle('<%= article._id %>', '<%= article.title %>')">删除</a></td>
    </tr>
    <% } %>
    </tbody>
  </table>
  <script>
    function deleteArticle(id, title) {
      if (!window.confirm('确认删除【' + title + '】吗？')) {
        return;
      }
      $.ajax({
        url: '/api/articles/' + id,
        type: 'DELETE',
        success: function () {
          location.reload();
        }
      });
    }
  </script>
</main>
<% include ../common/footer.ejs %>
</body>
</html>
