<html>
<% include head.ejs %>
<body>
<% include header.ejs %>
<main class="container">
  <h2>Moments Management</h2>
  <p class="text-right"><a href="moments/edit" class="button-sm">+ Moment</a></p>
  <table cellspacing="0">
    <thead>
    <tr>
      <th width="25%"># id</th>
      <th width="30%">内容</th>
      <th width="25%">时间</th>
      <th width="20%">操作</th>
    </tr>
    </thead>
    <tbody>
    <% for(let m of data){ %>
    <tr>
      <td><%= m._id %></td>
      <td><%= m.content %></td>
      <td><%= moment(m.date).format('YYYY-MM-DD HH:MM') %></td>
      <td><a href="/manage/moments/edit?id=<%= m._id %>">修改</a> | <a
          href="javascript:deleteMoment('<%= m._id %>', '<%= m.content %>')">删除</a></td>
    </tr>
    <% } %>
    </tbody>
  </table>
  <script>
    function deleteMoment(id, content) {
      if (!window.confirm('确认删除【' + content + '】吗？')) {
        return;
      }
      $.ajax({
        url: '/api/moments/' + id,
        type: 'DELETE',
        success: function () {
          location.reload();
        }
      });
    }
  </script>
</main>
<% include ../common/footer.ejs %>
</body>
</html>
